<%- include('./partial/header.ejs')%>

<div class="about">
    <h1>About Beauty Babes!</h1>
    <h2>Beauty Babes is your go to place for training in brows, lashes, 
    and other beauty needs! We offer lash extensions; classic, volume
    hybrid and mega volume lashes, lash lift, micro-blading eyebrows, 
    brow lamination, brow and lip waxing, brow henna and brow tinting, lip blush
    and lip liner tattooing, and more!</h2>
    <h2>We are here to help you learn a new skill set, sharpen the skills you already have or just have some fun!</h2>
    <h2>Click on the <em>Connections</em> tab to get started and find a class that's right for you!</h2>
    <img class= "team" src="./images/team.jpg" alt="team">
</div>


<%- include('./partial/footer.ejs')%>
