<%- include('./partial/header.ejs')%>

<div class="contact">
    <h1>How to Contact Us!</h1>
    <h2>To contact someone about signing up for a class or for more information on one:</h2>
    <h2><u>Phone:</u> <b>(336)-123-4567</b></h2>
    <h2><u>Email:</u> <b>kgarwood@uncc.edu</b></h2>
    <h2>Or message us on any of our social medias! : <b>@BeautyBabes</b></h2>
</div>

<%- include('./partial/footer.ejs')%>
