<%- include('./partial/header.ejs')%>
<div class = "main-content">
    <div class="intro">
        <h1>Welcome to Beauty Babes!</h1>
        <h2>Here at Beauty Babes, our main goal is to help you learn new skills or sharpen them!
            We have a numerous amount of different classes you can take that is split into three main categories:
            <br>Brows<br>
            Lashes <br>
            and Lips! <br>
            Here your instructors will help guide and teach you in our 6 week classes to get
            your certification in whatever area you desire!</h2>
        <h2>Click on the <em>Connections</em> tab to get started and find a class that's right for you!</h2>
    </div>

<h1>Some of our work!</h1>
<h2>Check out these before and after photos from our training sessions!</h2>
<div class="row1">
    <div class="column1">
        <img class= "pic" src="./images/lamination.jpg" alt="brow lam">
    </div>
    <div class="column1">
        <img class = "pic" src="./images/lashextension.jpg" alt="lashes">
    </div>
    <div class="column1">
        <img class="pic" src="./images/lipblush.jpg" alt="lip">
    </div>
</div>
<div class="row1">
    <div class="column1">
        <img class="pic" src="./images/browlashtint.jpg" alt="brow/lash tint">
    </div>
    <div class="column1">
        <img class="pic" src="./images/microblading2.jpg" alt="microblading">
    </div>
    <div class="column1">
        <img class="pic" src="./images/eyelashes.jpg" alt="extensions">
    </div>
</div>
</div>
<%- include('./partial/footer.ejs')%>