* {
  box-sizing: border-box;
}

body{ 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-image: url(/images/background-pic.jpg);
  
}

.main-content {
  flex-grow: 1;
}

header{ 
  background:whitesmoke; 
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

footer{ 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background:whitesmoke; 
  text-align: center;
}

ul{
    padding: 0;
    margin: 0 0 0 250px;
    list-style: none;
}

nav{
  overflow: hidden;
  padding-top: 50px;
  color: black;
  background-color:  whitesmoke;
  width: 100%;
}

.navigation a.active {
    background-color: white;
  }

li{ 
    float: right;
}
li a{
    width: 100px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: Impact;
    color: black;
    text-align:center;
    font-size: medium;
    padding-top: 10px;
}

li a:hover{
    text-transform: uppercase;
}

.logo img{
    position:absolute;
    margin-top: 40px;
    margin-left: 10px;
}

input[type=text], select, textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=email] {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=password] {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input[type=submit] {
  background-color: palevioletred;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: pink;
}

.container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 65%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display:block;
  clear: both;
}

.intro{
  border-style:double;
  border-width:5px;
  background-color: whitesmoke;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 50px;
}

.copy{
  text-align: center;
}

.brow, .lip, .lash{
  text-align: center;
border-style: double;
border-width:5px;
  background-color: whitesmoke;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 50px;
}

img.micro{
  display: block;
  margin-left:auto;
  margin-right:auto;
  margin-top: 50px;
  width: 400px;
  height: 350px;
}

.details, .info{
  text-align: center;
}

ul.list{
  text-align: center;
}

.column1{
  float:left;
  width:33.33%;
  padding: 10px;
  padding-left: 60px;
}

.row1::after {
  content:"";
  clear: both;
  display: table;
}
  
img.pic{
  width: 85%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 60%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 60%;
}

.fa-instagram {
  background: #125688;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 60%;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 60%;
}

.buttons{
  text-align: center;
}

button{
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  background-color: palevioletred;
  border-radius:0.20em;
  color:#FFFFFF;
  padding: 1.5em 1.5em;
  margin:0 0.3em 0.3em 0;
  border:0.1em solid #FFFFFF;
  font-size: medium;
}

button:hover{
  background-color: pink;
}

.about, .content{
  border-style:double;
  border-width:5px;
  background-color: whitesmoke;
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.error2{
  background: rgba(247, 59, 2, 0.924);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px 10px;
}

.new {
  border-style:double;
  border-width:5px;
  background-color: whitesmoke;
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 150px;
  margin-bottom: 70px;
}

.contact{
  border-style:double;
  border-width:5px;
  background-color: whitesmoke;
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.edit {
  border-style:double;
  border-width:5px;
  background-color: whitesmoke;
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 100px;
  margin-bottom: 300px;
  padding-top: 70px;
}

.new{
  padding-top: 70px;
}

label{
  font-size: larger;
}

img.team, img.log {
  width: 50%;
  margin-top: 50px;
}

.fixed-width{
  width: 800px;
  }

.content{
  text-align: center;
}

h1, h2, h3, h4, p {
  text-align: center;
}

.success {
  background: rgba(108, 192, 112, 0.7);
  color: #fff;
  width: 100%;
  height: 30%;
  text-align: center;
  padding: 10px 10px;
  padding-left: 50px;
}

.error {
  background: rgba(247, 59, 2, 0.924);
  color: #fff;
  width: 100%;
  height: 10%;
  text-align: center;
  padding: 10px 10px;
}

.signup, .login {
  border-style:double;
  border-width:5px;
  background-color: whitesmoke;
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 150px;
  margin-bottom: 70px;
}

label[for=password] {
  text-align: center;
}

table.newConnection {
  font-family: arial, sans-serif;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

table.editConnection {
  font-family: arial, sans-serif;
  align-self: center;
  margin-left: auto;
  margin-right: auto;

}

table.profile {
  font-family: arial, sans-serif;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  width: 90%;
  margin-bottom: 90px;
}

table.profile2 {
  font-family: arial, sans-serif;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  width: 90%;
  margin-bottom: 700px;
}

table.profile td, table.profile th {
  text-align: center;
  padding: 8px;
  border: 3px solid black;
}

table.profile2 td, table.profile2 th {
  text-align: center;
  padding: 8px;
  border: 3px solid black;
}

table.profile2 th {
  background-color: whitesmoke;
}

table.profile th{
  background-color: whitesmoke;
}

.username {
  text-align: center;
  font-family: Impact;
}

img.connect{
  width: 23%;
}