<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Beauty Babes</title>
</head>
<body> 
<header>
    <div class="logo">
        <a href='/'><img src="/images/logo.png" alt="logo"></a>
    </div>
    <nav>
            <ul class="main-nav">
               <% if(!user) {%>
                    <li><a href="/users/login">Login</a></li>
                    <li><a href="/users/new">Sign up</a></li>  
               <% } else {%>
               <div class= "username"><li>Welcome, <br> <%= userName + "!"%></li></div>
                    <li><a href="/users/logout">Logout</a></li>
                    <li><a href="/users/profile">Profile</a></li>
                    <li><a href="/connections/new">Start a new connection</a></li>
                    <% }%>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/connections">Connections</a></li>
                <li><a href='/'>Home</a></li>             
            </ul>
    </nav>
</header>

<%if(errorMessages.length > 0) {
    errorMessages.forEach(message => {%>
        <div class = 'error'> <%=message%> </div>
    <%});
}%>

<%if(successMessages.length > 0) {
    successMessages.forEach(message => {%>
        <div class = 'success'> <%=message%> </div>
    <%});
}%>